footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(65, 62, 62);
    text-align: center;
    position: relative;
    top: 80%;
    
}
.footerContainer{
    text-align: center;
    font-size: 25px;
    background-color: rgb(65, 62, 62);
    color: white;
    height: 50px;
}